<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mis Reclamos</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-2.1.2/datatables.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container-fluid mt-3 mb-3"> <div class="card shadow" style="width: 80%; margin: 0 auto;">
    <div class="card-header">
        <h3>Mis Reclamos</h3>
    </div>
    <div class="card-body table-container">
        <table id="listClaimStudent" class="table table-hover mt-4">
            <thead>
            <tr>
                <th>Tipo Reclamo</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Docente</th>
                <th>Créditos</th>
                <th>Semestre</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="claim : ${claims}">
                <td th:text="${claim.descripcionTipoReclamo}"></td>
                <td th:text="${claim.titulo}"></td>
                <td th:text="${claim.descripcion}"></td>
                <td th:text="${claim.docente}"></td>
                <td th:text="${claim.creditos}"></td>
                <td th:text="${claim.semestre}"></td>
                <td th:text="${claim.descripcionEstadoReclamo}"></td>
                <td>
                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" th:attr="data-bs-target='#editModal_' + ${claim.id}">
                        Editar
                    </button>

                    <button class="btn btn-sm btn-danger" th:attr="data-bs-target='#deleteModal_' + ${claim.id}" data-bs-toggle="modal">
                        Eliminar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:each="claim : ${claims}" class="modal fade" th:id="'editModal_' + ${claim.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Reclamo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/user/claim/update}" method="post">
                    <input type="hidden" name="id" th:value="${claim.id}">
                    <div class="form-group mb-3">
                        <label for="titulo">Título</label>
                        <input type="text" id="titulo" class="form-control" name="titulo" th:value="${claim.titulo}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcion">Descripción</label>
                        <textarea id="descripcion" class="form-control" name="descripcion" rows="3" th:text="${claim.descripcion}" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="tipoReclamoDto">Tipo Reclamo</label>
                        <select id="tipoReclamoDto" class="form-control" name="tipoReclamoDto">
                            <option th:each="tipoReclamo : ${tiposReclamo}" th:value="${tipoReclamo.id}" th:text="${tipoReclamo.descripcion}"></option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="docente">Docente</label>
                        <input type="text" id="docente" class="form-control" name="docente" th:value="${claim.docente}" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fecha">Fecha</label>
                        <input type="date" id="fecha" class="form-control" name="fecha" th:value="${claim.fecha}" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="creditos">Créditos</label>
                        <input type="number" id="creditos" class="form-control" name="creditos" th:value="${claim.creditos}" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="semestre">Semestre</label>
                        <input type="text" id="semestre" class="form-control" name="semestre" th:value="${claim.semestre}" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:each="claim : ${claims}" class="modal fade" th:id="'deleteModal_' + ${claim.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Reclamo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar este reclamo?
            </div>
            <div class="modal-footer">
                <form th:action="@{/user/claim/delete}" method="post">
                    <input type="hidden" name="id" th:value="${claim.id}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.1.2/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#listClaimStudent').DataTable({
            "pagingType": "simple_numbers",
            "searching": true,
            "lengthMenu": [10, 25, 50, 100],
            "language": {
                "lengthMenu": "Mostrar _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay datos disponibles",
                "infoFiltered": "(filtrado de _MAX_ filas totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "buttons": [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>