<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Eventos</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-2.1.2/datatables.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container-fluid mt-3 mb-3"> <div class="card shadow" style="width: 80%; margin: 0 auto;">
    <div class="card-header">
        <h3>Lista de Eventos</h3>
    </div>
    <div class="card-body table-container">
        <table id="listaEventos" class="table table-hover mt-4">
            <thead>
            <tr>
                <th>Título</th>
                <th>Tipo de Evento</th>
                <th>Profesores</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Modalidad</th>
                <th>Itr</th>
                <th>Ubicación</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="evento : ${events}">
                <td th:text="${evento.titulo}"></td>
                <td th:text="${evento.descripcionTipoEvento}"></td>
                <td th:text="${evento.nombresDocentes}"></td>
                <td th:text="${#temporals.format(evento.fechaInicio, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(evento.fechaFin, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${evento.descripcionModalidad}"></td>
                <td th:text="${evento.getNombreItr()}"></td>
                <td th:text="${evento.ubicacion}"></td>
                <td th:text="${evento.descripcionEstadoEvento}"></td>

                <td>
                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" th:attr="data-bs-target='#editModal_' + ${evento.id}">
                        Editar
                    </button>

                    <button class="btn btn-sm btn-danger" th:attr="data-bs-target='#deleteModal_' + ${evento.id}" data-bs-toggle="modal">
                        Eliminar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<div th:each="evento : ${events}" class="modal fade" th:id="'editModal_' + ${evento.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/event/update}" method="post">
                    <input type="hidden" name="id" th:value="${evento.id}">

                    <div class="form-group mb-3">
                        <label for="titulo">Título</label>
                        <input type="text" id="titulo" class="form-control" name="titulo" th:value="${evento.titulo}" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="tipoEvento">Tipo de Evento</label>
                        <select id="tipoEvento" name="tipoEvento" class="form-control" th:value="${evento.tipoEvento}">
                            <option th:each="tipoEvento : ${eventTypes}"
                                    th:value="${tipoEvento.id}"
                                    th:text="${tipoEvento.descripcion}">Tipo de Evento</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="modalidad">Modalidad</label>
                        <select id="modalidad" name="modalidad" class="form-control" th:value="${evento.modalidad}">
                            <option th:each="modalidad : ${eventModes}"
                                    th:value="${modalidad.id}"
                                    th:text="${modalidad.descripcion}">Modalidad de Evento</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fechaInicio">Fecha de Inicio</label>
                        <input type="datetime-local" id="fechaInicio" class="form-control" name="fechaInicio" th:value="${evento.fechaInicio}" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fechaFin">Fecha de Fin</label>
                        <input type="datetime-local" id="fechaFin" class="form-control" name="fechaFin" th:value="${evento.fechaFin}" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="docentes">Profesores</label>
                        <select id="docentes" name="docentes" class="form-control" multiple th:value="${evento.docentes}">
                            <option th:each="profesor : ${teachers}"
                                    th:value="${profesor.id}"
                                    th:text="${profesor.getPrimerNombre()+' '+profesor.getPrimerApellido()}">Nombre Profesor</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="itr">Itr</label>
                        <select id="itr" name="itr" class="form-control" th:value="${evento.itr}" >
                            <option th:each="itr : ${itrs}"
                                    th:value="${itr.id}"
                                    th:text="${itr.nombre}">Nombre Itr</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" id="ubicacion" class="form-control" name="ubicacion" th:value="${evento.ubicacion}" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="estado">Estado</label>
                        <select id="estado" name="estado" class="form-control" th:value="${evento.estado}">
                            <option th:each="estado : ${eventStatus}"
                                    th:value="${estado.id}"
                                    th:text="${estado.descripcion}">Estado Evento</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:each="evento : ${events}" class="modal fade" th:id="'deleteModal_' + ${evento.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar este evento?
            </div>
            <div class="modal-footer">
                <form th:action="@{/event/delete}" method="post">
                    <input type="hidden" name="id" th:value="${evento.id}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.1.2/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#listaEventos').DataTable({
            "pagingType": "simple_numbers",
            "searching": true,
            "language": {
                "lengthMenu": "Mostrar _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay datos disponibles",
                "infoFiltered": "(filtrado de _MAX_ filas totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": activar para ordenar la columna de manera descendente"
                }
            },
            "buttons": [ 'pdf'
            ]
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const inputFechaInicio = document.getElementById("fechaInicio");
        const inputFechaFin = document.getElementById("fechaFin");
        const selectProfesores = document.getElementById("profesores");
        const formulario = document.querySelector("form");

        function validarFechas() {
            const fechaInicio = new Date(inputFechaInicio.value);
            const fechaFin = new Date(inputFechaFin.value);

            // Validación de fechas
            if (fechaInicio && fechaFin) {
                if (fechaInicio > fechaFin) {
                    inputFechaFin.setCustomValidity("La fecha de fin debe ser después de la fecha de inicio.");
                } else {
                    inputFechaFin.setCustomValidity("");
                }
            }
        }

        function validarProfesores() {
            const profesoresSeleccionados = Array.from(selectProfesores.selectedOptions);
            if (profesoresSeleccionados.length === 0) {
                selectProfesores.setCustomValidity("Seleccione al menos un profesor.");
            } else {
                selectProfesores.setCustomValidity(""); // Limpia el mensaje de error si hay al menos uno seleccionado
            }
        }

        inputFechaInicio.addEventListener("input", validarFechas);
        inputFechaFin.addEventListener("input", validarFechas);
        selectProfesores.addEventListener("change", validarProfesores); // Escucha cambios en el select de profesores

        formulario.addEventListener("submit", function(evento) {
            validarFechas();
            validarProfesores();

            // Si alguna validación no es válida, cancela el envío del formulario
            if (!formulario.checkValidity()) {
                evento.preventDefault();
                evento.stopPropagation();
            }
        });
    });
</script>
</body>
</html>