<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear Nueva Justificación</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="text-center">Crear Nueva Justificación de Inasistencia</h3>
                </div>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/justification/create}">

                        <div class="form-group mb-3">
                            <label for="evento">Evento</label>
                            <select id="evento" name="evento" class="form-control" required>
                                <option value="">Seleccione un evento</option>
                                <option th:each="event : ${events}"
                                        th:value="${event.id}"
                                        th:text="${event.titulo}">Título del Evento</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="informacion">Información (Motivo Inasistencia)</label>
                            <textarea id="informacion" class="form-control" name="informacion" rows="3" placeholder="Ingrese el motivo de la justificación" required></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear Justificación</button>
                            <a href="#" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>